<div class="boxed left mdl-color--white mdl-shadow--4dp" ng-show="data">
  <h5>Settings</h5>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"
           ng-model="settings.xbins.start"
           ng-model-options="{ updateOn: 'blur' }"
           ng-change="updateChart()"
           type="number"
           step="any">
    <label class="mdl-textfield__label">
      START
    </label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"
           ng-model="settings.xbins.end"
           ng-model-options="{ updateOn: 'blur' }"
           ng-change="updateChart()"
           type="number"
           step="any">
    <label class="mdl-textfield__label" for="xbins_end">
      END
    </label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"
           ng-model="settings.xbins.size"
           ng-model-options="{ updateOn: 'blur' }"
           ng-change="updateChart()"
           type="number"
           step="any">
    <label class="mdl-textfield__label" for="¨xbins_size">
      SIZE
    </label>
  </div>
</div>
