<div class="boxed left mdl-color--white mdl-shadow--4dp">
  <h5>Settings</h5>
  <!--ORIENTATION-->
  <label class="info">Orientation</label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="orientation_v">
    <input type="radio"
           id="orientation_v"
           class="mdl-radio__button"
           name="orientation"
           value="v"
           checked>
    <span class="mdl-radio__label">Vertical</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="orientation_h">
    <input type="radio"
           id="orientation_h"
           class="mdl-radio__button"
           name="orientation"
           value="h">
    <span class="mdl-radio__label">Horizontal</span>
  </label>

  <!--HIST FUNC-->
  <label class="info">HIST FN</label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_c">
    <input type="radio"
           id="hist_func_c"
           class="mdl-radio__button"
           name="hist_func"
           value="count"
           checked>
    <span class="mdl-radio__label">Count</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_s">
    <input type="radio"
           id="hist_func_s"
           class="mdl-radio__button"
           name="hist_func"
           value="sum">
    <span class="mdl-radio__label">Sum</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_a">
    <input type="radio"
           id="hist_func_a"
           class="mdl-radio__button"
           name="hist_func"
           value="avg">
    <span class="mdl-radio__label">Avg</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_m">
    <input type="radio"
           id="hist_func_m"
           class="mdl-radio__button"
           name="hist_func"
           value="min">
    <span class="mdl-radio__label">Min</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_ma">
    <input type="radio"
           id="hist_func_ma"
           class="mdl-radio__button"
           name="hist_func"
           value="max">
    <span class="mdl-radio__label">Max</span>
  </label>


  <!--NBINS-X-->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"
           type="number"
           id="xbins_n">
    <label class="mdl-textfield__label" for="xbins_n">
      X BINS N
    </label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"
           type="number"
           id="xbins_start">
    <label class="mdl-textfield__label" for="xbins_start">
      START
    </label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"
           type="number"
           id="xbins_end">
    <label class="mdl-textfield__label" for="xbins_end">
      END
    </label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input"
           type="number"
           id="xbins_size"
           name="xbins_size">
    <label class="mdl-textfield__label" for="¨xbins_size">
      SIZE
    </label>
  </div>
</div>
