<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Output</h1>
    <pre>
    <%= output %>
    </pre>
  </body>
</html>
