<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <% include partials/head %>
    <title>HP Labs Intern Project</title>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <div class="ribbon"></div>

      <!--CONTENT-->
      <main class="main mdl-layout__content">
      <div class="container mdl-grid">
        <!--CHART CONTAINER-->
        <div class="boxed chart mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">

          <div id="instructions">
            <h3>Instructions</h3>
            <p class="mdl-color-text--grey-500">
            Please specify the key of the data file you want to retrieve and plot.
            </p>
          </div>

          <div id="loading">
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
          </div>

          <div id="error" class="hidden mdl-color-text--red-500">
            <h6>Error while loading the chart data</h6>
            <i class="material-icons md-48">error</i>
          </div>

          <div id="chart"></div>
        </div>
        <!--UI CONTAINER-->
        <div class="mdl-cell mdl-cell--2-col" id="settings">
          <!--UI KEY INPUT-->
          <% include partials/ui_key %>

          <!--CHART SETTINGS-->
          <% include partials/ui_chart_settings %>
        </div>
      </div>

      <% include partials/footer %>
      </main>
    </div>

    <!--SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"
            charset="utf-8"></script>
    <script src="/material-design-lite/material.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
