<!DOCTYPE html>
<html lang="en" ng-app="histogram-app">
  <head>
    <% include partials/head %>
    <title>HP Labs Intern Project</title>
  </head>
  <body ng-controller="ChartCtrl">
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            Programming Project
          </span>
        </div>
      </header>

      <div class="ribbon"></div>

      <!--CONTENT-->
      <main class="main mdl-layout__content">
      <div class="container mdl-grid">
        <!--CHART CONTAINER-->
        <div class="boxed chart mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
          <div id="instructions" ng-hide="data || loadingChart">
            <h3>Instructions</h3>
            <p class="mdl-color-text--grey-500">
            Please specify the key of the data file you want to retrieve and plot.
            </p>
          </div>

          <div id="loading" ng-show="loadingChart">
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
          </div>

          <div id="error" class="mdl-color-text--red-500" ng-show="error">
            <h6>Error while loading the chart data</h6>
            <i class="material-icons md-48">error</i>
          </div>

          <div id="chart" ng-hide="loadingChart"></div>
        </div>
        <!--UI CONTAINER-->
        <div class="mdl-cell mdl-cell--2-col" id="settings">
          <!--UI KEY INPUT-->
          <% include partials/ui_key %>

          <!--CHART SETTINGS-->
          <% include partials/ui_chart_settings %>
        </div>
      </div>

      <% include partials/footer %>
      </main>
    </div>
  </body>
</html>
