<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Fernando Gómez <gomezhyuuga>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Interactive histogram chart">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>HP Labs Intern Project</title>

    <link rel="stylesheet" href="/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <div class="ribbon"></div>

      <!--CONTENT-->
      <main class="main mdl-layout__content">
      <div class="container mdl-grid">
        <!--CHART CONTAINER-->
        <div class="boxed chart mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">

          <div id="instructions">
            <h3>Instructions</h3>
            <p class="mdl-color-text--grey-500">
            Please specify the key of the data file you want to retrieve and plot.
            </p>
          </div>

          <div id="loading">
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
          </div>

          <div id="error" class="hidden mdl-color-text--red-500">
            <h6>Error while loading the chart data</h6>
            <i class="material-icons md-48">error</i>
          </div>

          <div id="chart"></div>
        </div>
        <!--UI CONTAINER-->
        <div class="mdl-cell mdl-cell--2-col" id="settings">
          <div class="boxed left mdl-color--white mdl-shadow--4dp">
            <h5>Settings</h5>
            <!--ORIENTATION-->
            <label class="info">Orientation</label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="orientation_v">
              <input type="radio"
                     id="orientation_v"
                     class="mdl-radio__button"
                     name="orientation"
                     value="v"
                     checked>
              <span class="mdl-radio__label">Vertical</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="orientation_h">
              <input type="radio"
                     id="orientation_h"
                     class="mdl-radio__button"
                     name="orientation"
                     value="h">
              <span class="mdl-radio__label">Horizontal</span>
            </label>

            <!--HIST FUNC-->
            <label class="info">HIST FN</label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_c">
              <input type="radio"
                     id="hist_func_c"
                     class="mdl-radio__button"
                     name="hist_func"
                     value="count"
                     checked>
              <span class="mdl-radio__label">Count</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_s">
              <input type="radio"
                     id="hist_func_s"
                     class="mdl-radio__button"
                     name="hist_func"
                     value="sum">
              <span class="mdl-radio__label">Sum</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_a">
              <input type="radio"
                     id="hist_func_a"
                     class="mdl-radio__button"
                     name="hist_func"
                     value="avg">
              <span class="mdl-radio__label">Avg</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_m">
              <input type="radio"
                     id="hist_func_m"
                     class="mdl-radio__button"
                     name="hist_func"
                     value="min">
              <span class="mdl-radio__label">Min</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="hist_func_ma">
              <input type="radio"
                     id="hist_func_ma"
                     class="mdl-radio__button"
                     name="hist_func"
                     value="max">
              <span class="mdl-radio__label">Max</span>
            </label>


            <!--NBINS-X-->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input"
                     type="number"
                     id="xbins_n">
              <label class="mdl-textfield__label" for="xbins_n">
                X BINS N
              </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input"
                     type="number"
                     id="xbins_start">
              <label class="mdl-textfield__label" for="xbins_start">
                START
              </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input"
                     type="number"
                     id="xbins_end">
              <label class="mdl-textfield__label" for="xbins_end">
                END
              </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input"
                     type="number"
                     id="xbins_size"
                     name="xbins_size">
              <label class="mdl-textfield__label" for="¨xbins_size">
                SIZE
              </label>
            </div>
          </div>

          <div class="boxed mdl-color--white mdl-shadow--4dp">
            <form action="/datastore" id="histogram-form" method="GET">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input"
                       type="number"
                       id="histogram_key"
                       name="key">
                <label class="mdl-textfield__label" for="histogram_key">
                  Key
                </label>
              </div>
              <br>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Retrieve data
              </button>
            </form>
          </div>
        </div>
      </div>

      <!--FOOTER-->
      <footer class="demo-footer mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
          Fernando Gómez &copy; 2016
        </div>
      </footer>
      </main>
    </div>

    <!--SCRIPTS-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="/material-design-lite/material.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
